<h2>HOMEPAGE</h2>
<button (click)="goToModificaUtente()">Modifica utente</button><br><br>
<button (click)="goToUtentiGlobali()">Utenti globali</button><br><br>
<button (click)="goToAggiungiLibro()">Aggiungi un libro</button><br><br>
<button (click)="goToLibriGlobali()">Libri globali</button><br><br>
<button (click)="goToPropriLibri()">I tuoi libri</button><br><br>
<button (click)="goToOfferte()">Offerte</button><br><br>
<button (click)="goToPropriScambi()">I tuoi scambi</button><br><br>
<button (click)="goToProprieRichieste()">Le tue richieste</button><br><br>
<button (click)="goToOfferteConcluse()">Offerte concluse</button><br><br>
<button (click)="goToNotifica()">Le tue notifiche</button><br><br>
<button (click)="logout()">Logout</button>



