<h2>I MIEI LIBRI</h2>
<label>Cerca per titolo: </label>
<input type="text" [(ngModel)]="ricercaTitolo">
<br><br>
<label>Cerca per autore: </label>
<input type="text" [(ngModel)]="ricercaAutore">
<br><br>
<label>Cerca per genere: </label>
<select [(ngModel)]="ricercaGenere">
  <option value="" selected></option><br>
  <ng-container *ngFor="let genere of generi">
    <option [value]="genere.nome">{{genere.nome}}</option>
  </ng-container>
</select>
<button style="margin-left: 10px" (click)="resetFiltri()">Reset filtri</button>
<br><br>
<ng-container *ngFor="let libro of libri">
  <ng-container *ngIf="(ricercaGenere === '' || ricercaGenere === libro.genere) &&
      (ricercaTitolo === '' || libro.titolo.toLowerCase().includes(ricercaTitolo.toLowerCase().trim())) &&
      (ricercaAutore === '' || libro.autore.toLowerCase().includes(ricercaAutore.toLowerCase().trim()))">
    <p><strong>{{libro.titolo}}</strong> - {{libro.autore}}<button style="margin-left: 10px" (click)="offri(libro.libroId)">Offri per scambio o prestito</button></p>
  </ng-container>
</ng-container>
<br><br>
<button (click)="goToHomepage()">Torna alla homepage</button>
